* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #00eeff, #0121FA, #00c3ff, #6A00FA);
    background-size: 500% 100%;
    animation: degrade 5s infinite alternate;
}

@keyframes degrade {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}